<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>ConCaVa Statistics</title>
</html>
<body>

<h1>ConCaVa Statistics</h1>
<p>Since {{since}}:</p>
{{#if err}}
<p>An error occured: {{err}}</p>
{{/if}}

<table border=1>
	<thead>
		<tr>
			<th>Device ID</th>
			<th>Name</th>
			<th>SPUL buffers</th>
			<th>Last SPUL buffer</th>
			<th>Storage records</th>
			<th>Last record</th>
		</tr>
	</thead>
	<tbody>
		{{#each devices}}
		<tr>
			<td>{{id}}</td>
			<td>{{name}}</td>
			<td>{{spulCount}}</td>
			<td>{{spulBuffer}}</td>
			<td>{{storageCount}}</td>
			<td>{{storageRecord}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>

</body>
</html>
